.vscode/
move.py
ragequit.txt
assets/Slardar_icon.png
assets/items.jpg
assets/items2.jpg
assets/stockfish.ora
assets/stockfish.png
settings.txt
commands.txt
assets/dota menu.png
assets/ingame new perspective.png
assets/ingame action.png
